
@{
    ViewBag.Title = "Index";

    string fullName = "Adam Demaree";
    int salary = 100000;
    int myTaxes = 30000;
}

<h2>Index</h2>
<h1>@fullName</h1>
<h3>Total earnings last year: @salary</h3>
<h3>I currently owe: @myTaxes for the year @DateTime.Now.Year</h3>
<h3>Today's date is: @DateTime.Today</h3>




